/* Contenidos */
header { overflow: hidden; }
main { max-height: 100%; overflow: hidden;  margin-bottom: 40px; }
.red { background: red; color: white; }
footer { overflow: hidden; background: rebeccapurple; }

.content {
	width: 100%;
	margin: 0 auto;
}

/* Nuestro mediaqueries */
@media (min-width: 620px) {
	.content {
		width: 620px;
		h1 { font-size: 2.4em!important; }
		h2 { font-size: 2em!important;}
		h3 { font-size: 1.8em!important;}
		h4 { font-size: 1.6em!important;}
		h5 { font-size: 1.4em!important; }
		h6 { font-size: 1.2em!important; }
	}
	
}

@media (min-width: 880px) {
	.content {
		width: 880px;
		h1 { font-size: 3em!important; }
		h2 { font-size: 2.4em!important;	}
		h3 { font-size: 2.2em!important; }
		h4 { font-size: 2em!important; }
		h5 { font-size: 1.8em!important; }
		h6 { font-size: 1.6em!important; }		
	}

}

@media (min-width: 1100px) {
	.content {
		width: 1100px;
		h1 { font-size: 3.6em!important; }
		h2 { font-size: 3.2em!important; }
		h3 { font-size: 3em!important; }
		h4 { font-size: 2.8em!important; }
		h5 { font-size: 2.6em!important; }
		h6 { font-size: 2.4em!important; }
	}

}